<%- include('partials/header') %>
    <div id="detail-tab" class="content">
        <h1>反应信息</h1>
        
        <% if (reaction) { %>

        <button onclick="window.location.href='/edit?name=<%= reaction.name %>'">编辑</button>
        <button onclick="deleteReaction('<%= reaction.name %>')" style="color: brown;">删除</button>
        <div id="reaction-info">
            <h2><%= reaction.name %></h2>

            <% [['底物', reaction.substrates, 'Substrates'],
                ['产物', reaction.products  , 'Products'  ],
                ['试剂', reaction.agents    , 'Agents'    ]].forEach(element => { %>
                <div class="info-item">
                    <table>
                        <thead>
                            <tr>
                                <th><%= element[2] %></th>
                                <th>mass</th>
                                <th>volume</th>
                                <th>mol</th>
                                <th>eq</th>
                                <th>molecular mass</th>
                                <th>c</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% reaction.transpose(element[1]).forEach(row => { %>
                                <tr>
                                    <% if (row[0].startsWith("[SMILES]")) { %>
                                        <td><svg width="360" height="300" data-smiles="<%= row[0].slice(8) %>"></svg></td>
                                    <% } else { %>
                                        <td><%= row[0] %></td>
                                    <% } %>
                                    <td><%= row[1] %></td>
                                    <td><%= row[2] %></td>
                                    <td><%= row[3] %></td>
                                    <td><%= row[4] %></td>
                                    <td><%= row[5] %></td>
                                    <td><%= row[6] %></td>
                                </tr>                        
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            <% }); %>
            
            <div class="info-item">
                <table>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Temperature</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% reaction.conditions.forEach(cond => { %>
                            <tr>
                                <td><%= cond[0] %></td>
                                <td><%= cond[0] %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

        </div>

        <% } else{ %>
            
            <p>选择一个反应来展示</p>

        <% } %>
    </div>
    <script type="text/javascript" src="/js/smiles-drawer.min.js"></script>
    <script>
        SmiDrawer.apply();

        async function deleteReaction(name) {
            if (!confirm("确认删除")) return;
            fetch('/delete', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name
                })
            }).then(res => res.json()).then(res => {
                if (!res.success) {
                    alert(res.message);
                } else if (close) {
                    window.location.href = '/';
                }
            }).catch(err => {
                alert('删除失败！');
                console.error(err);
            });
        }
    </script>
<%- include('partials/footer') %>