<%- include('partials/header') %>
    <div id="browse-tab" class="content">
        <h1>浏览所有反应</h1>
        <button onclick="window.location.href='/edit?createNew=true'">➕ 新反应</button>
        <div id="reaction-list">
            <% reactions.forEach((reaction, index) => { %>
                <div class="reaction-item" onclick="window.location.href='/detail?name=<%= reaction.name %>'">
                    <h3><%= reaction.name %></h3>
                    <p>Substrates: <%= reaction.substrates %></p>
                    <p>Products: <%= reaction.products %></p>
                </div>
            <% }) %>
        </div>
    </div>
<%- include('partials/footer') %>